<h1>Listing qualifications</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Restaurant</th>
    <th>Score</th>
    <th>Amount spent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qualifications.each do |qualification| %>
  <tr>
    <td><%= qualification.client.name %></td>
    <td><%= qualification.restaurant.name %></td>
    <td><%= qualification.score %></td>
    <td><%= format_value(qualification.amount_spent) %></td>
    <td><%= link_to 'Show', qualification %></td>
    <td><%= link_to 'Edit', edit_qualification_path(qualification) %></td>
    <td><%= link_to 'Destroy', qualification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qualification', new_qualification_path %>
