<h1>Listing comments</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Commentable</th>
    <th>Commentable type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr id="comment_<%= comment.id %>" >
    <td><%= comment.content %></td>
    <td><%= comment.commentable_id %></td>
    <td><%= comment.commentable_type %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
		<%= content_for :js do%>
			$("#comment_<%= comment.id %>").bind("ajax:success", function() {
					$(this).fadeOut();
			});
		<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
