<%= render :partial => "title" %>
<h1>New Restaurant</h1>

	<% if @restaurant.errors.any? %>
		<ul>
		<% @restaurant.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>	
		</ul>
	<% end %>

	<%= form_for :restaurant, :url => {:action => 'create'},
	                          :html => {:multipart => true } do |f| %>
		<%= f.file_field :photo %>
		Name: <%= f.text_field :name %>
		Address: <%= f.text_field :address %>
		Specialty: <%= f.text_field :specialty %>
		<%= submit_tag 'Save'%>
	<% end %>

	<%= link_to 'Back', {:action => 'index'} %>
</table>
